*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(0deg,#000000, #2f3474, #bbcae9, #ffffff);
}

header{
    margin: 0px;
    padding: 0px;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border-bottom: 1px solid #bbcae9;*/
}

.container{
    padding: 0px;
    margin: 0px;
    width: 1120px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a, .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 245px;
    height: auto;
    text-decoration: none;
    color: #283168;
}

.quadro{
    margin: 5px 2px 5px 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 75px;
    border: 3px solid #283168;
    border-radius: 2px;
    font-family: 'calibre';
    background-color: #bbcae9;
}

.quadro .teg{
    font-size: 30px;
    font-family: 'calibre';
    font-weight: 600;
    color: #283168;
    text-shadow: 1px 1px 5px rgb(15, 15, 15);
}

.logo .name{
    padding: 2px;
    font-size: 15px;
    border-bottom: 2px solid #3c3a5f;
    border-radius: 5px;
    font-weight: 500;
}

.menu ul, .menu li{
    display: flex;
    margin: 0px;
    padding: 0px;
    width: 500px;
    height: 60px;
    align-items: center;
    justify-content: center;
}

.menu a{
    text-decoration: none;
    margin: 0px 20px;
    color: #283168;
    font-size: 18px;
    border-bottom: 2px solid #3c3a5f;
    padding: 0px 5px;
    border-radius: 5px;
}

.menu a:hover, .active{
    background-color: #bbcae9;
}

.seach{
    padding: 0px 10px;
    width: 300px;
    height: 35px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #283168;
}

.seach input{
    background-color: #283168;
    outline: none;
    border: none;
    margin: 0px;
    padding: 0px;
    width: 250px;
    height: 30px;
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
}

.seach img{
    width: 20px;
}

section {
    display: flex;
    justify-content: center;
    height: 500px;
    
}

section .container {
    display: flex;
    justify-content: center;
}

.content{
    width: 700px;
    height: auto;
    overflow: hidden;

}

.slides{
    width: 3500px;
    height: auto;
    display: flex;
}

.slides input{
    display: none;
}

.slide img{
    width: 700px;
    height: 380px;
    border-radius: 10px;
}

.slide .title, .slide .desc {
    color: #fff;
    padding: 0px 10px;
}

.slide .title {
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    color: #000;
    font-weight: 900;
}

.options {
    height: auto;
    display: flex;
    justify-content: center;
}

label{
    margin: 5px;
    padding: 10px 10px;
    border: 2px solid #bbcae9;
    border-radius: 20px;

    color: #fff;
}

#slide1:checked ~ .s1 {
    margin-left: 0px;
}
#slide2:checked ~ .s1 {
    margin-left: -700px;
}
#slide3:checked ~ .s1 {
    margin-left: -1400px;
}
#slide4:checked ~ .s1 {
    margin-left: -2100px;
}
#slide5:checked ~ .s1 {
    margin-left: -2800px;
}

footer {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: #fff;
}

@media (min-width: 320px) {
    .menu {
        display: none;
    }

    .menu2 {
        margin-right: 10px;
    }

    .menu2 .bar {
        width: 35px;
        height: 6px;
        background-color: #000;
        margin: 4px 0px;
    }

    .menu2 .bar:hover {
        rotate: 90deg;
        background-color: aqua;
    }

    .seach {
        display: none;
    }

    section {
        height: 100vh;
        display: flex;
        justify-content: center;
        height: auto;
        margin: 0px;
        padding: 0px;
    }

    .container {
        display: flex;
        justify-content: space-between;
        width: 320px;
        height: 100%;
        margin: 0px;
        padding: 0px;
    }

    .content {
        width: 320px;
    }

    .slides {
        width: 1600px;
    }

    .slide img {
        width: 320px;
        height: 310px;
    }

    label {
        padding: 7px;
    }

    label:hover {
        background-color: aqua;
    }

    .slide .title{
        font-size: 15px;
    }

    .slide .desc {
        height: 30px;
        width: 300px;
        font-size: 14px;
    }

    #slide1:checked ~ .s1 {
        margin-left: 0px;
    }
    #slide2:checked ~ .s1 {
        margin-left: -320px;
    }
    #slide3:checked ~ .s1 {
        margin-left: -640px;
    }
    #slide4:checked ~ .s1 {
        margin-left: -960px;
    }
    #slide5:checked ~ .s1 {
        margin-left: -1280px;
    }

    .options {
        align-items: center;
        padding: 0px;
        margin: 10px 0px;
        width: 320px;
        height: 20px;
    }

    footer .container {
        height: 200px;
        width: 320px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .copyrigth, .cnpj {
        font-size: 15px;
        text-align: center;
    }
}

@media (min-width: 768px){
    .menu {
        display: flex;
    }

    .menu2 {
        display: none;
    }

    .seach {
        display: none;
    }

    section {
        display: flex;
        justify-content: center;
        height: auto;
        margin: 0px;
        padding: 0px;
    }

    .container {
        display: flex;
        justify-content: space-between;
        width: 768px;
        margin: 0px;
        padding: 0px;
    }

    .content {
        width: 768px;
    }

    .slides {
        width: 3840px;
    }

    .slide img {
        width: 768px;
        height: 500px;
    }

    label {
        padding: 10px;
    }

    label:hover {
        background-color: aqua;
    }

    .slide .title{
        font-size: 25px;
    }

    .slide .desc {
        height: 30px;
        width: 700px;
        font-size: 20px;
    }

    #slide1:checked ~ .s1 {
        margin-left: 0px;
    }
    #slide2:checked ~ .s1 {
        margin-left: -768px;
    }
    #slide3:checked ~ .s1 {
        margin-left: -1536px;
    }
    #slide4:checked ~ .s1 {
        margin-left: -2304px;
    }
    #slide5:checked ~ .s1 {
        margin-left: -3072px;
    }

    .options {
        align-items: center;
        padding: 0px;
        margin: 15px 0px;
        width: 768px;
        height: 20px;
    }

    footer .container {
        display: flex;
        flex-direction: row;
        width: 768px;
        padding: 10px;
    }

    .copyrigth, .cnpj {
        font-size: 18px;
        text-align: center;
    }
}


@media (min-width: 1024px){
    .menu a{
       font-size: 18px;
    }

    .menu ul, .menu li {
        width: 300px;
    }

    

    .menu2 {
        display: none;
    }

    .seach {
        display: flex;
    }

    section {
        display: flex;
        justify-content: center;
        height: auto;
        margin: 0px;
        padding: 0px;
    }

    .container {
        display: flex;
        justify-content: space-between;
        width: 1024px;
        margin: 0px;
        padding: 0px;
    }

    .content {
        width: 1024px;
    }

    .slides {
        width: 5120px;
    }

    .slide img {
        width: 1024px;
        height: 500px;
    }

    label {
        padding: 10px;
    }

    label:hover {
        background-color: aqua;
    }

    .slide .title{
        font-size: 25px;
    }

    .slide .desc {
        height: 30px;
        width: 700px;
        font-size: 20px;
    }

    #slide1:checked ~ .s1 {
        margin-left: 0px;
    }
    #slide2:checked ~ .s1 {
        margin-left: -1024px;
    }
    #slide3:checked ~ .s1 {
        margin-left: -2048px;
    }
    #slide4:checked ~ .s1 {
        margin-left: -3072px;
    }
    #slide5:checked ~ .s1 {
        margin-left: -4096px;
    }

    .options {
        align-items: center;
        padding: 0px;
        margin: 15px 0px;
        width: 1024px;
        height: 20px;
    }

    footer .container {
        display: flex;
        flex-direction: row;
        width: 7024px;
        padding: 10px;
    }

    .copyrigth, .cnpj {
        font-size: 20px;
    }
}







